@rendermode InteractiveServer

<LumexNavbar Bordered="true">
    <LumexNavbarBrand>
        <a class="flex items-center gap-2 font-bold text-xl" href="">
            <img src="logo.png" alt="MattGPT logo" height="32" class="h-8" />
            MattGPT
        </a>
    </LumexNavbarBrand>
    <LumexNavbarContent>
        <LumexNavbarItem>
            <NavLink href="" Match="NavLinkMatch.All" class="text-sm font-medium hover:opacity-75">
                Upload
            </NavLink>
        </LumexNavbarItem>
        <LumexNavbarItem>
            <NavLink href="chat" class="text-sm font-medium hover:opacity-75">
                Chat
            </NavLink>
        </LumexNavbarItem>
    </LumexNavbarContent>
</LumexNavbar>
