@rendermode InteractiveServer

<LumexNavbar Bordered="true">
    <LumexNavbarBrand>
        <a class="font-bold text-xl" href="">MattGPT</a>
    </LumexNavbarBrand>
    <LumexNavbarContent>
        <LumexNavbarItem>
            <NavLink href="" Match="NavLinkMatch.All" class="text-sm font-medium hover:opacity-75">
                Home
            </NavLink>
        </LumexNavbarItem>
        <LumexNavbarItem>
            <NavLink href="upload" class="text-sm font-medium hover:opacity-75">
                Upload
            </NavLink>
        </LumexNavbarItem>
    </LumexNavbarContent>
</LumexNavbar>
