@rendermode InteractiveServer
@inject Microsoft.Extensions.Options.IOptions<MattGPT.Web.AuthOptions> AuthConfig

<LumexNavbar Bordered="true">
    <LumexNavbarBrand>
        <a class="flex items-center gap-2 font-bold text-xl" href="">
            <img src="logo.png" alt="MattGPT logo" height="32" class="h-8" />
            MattGPT
        </a>
    </LumexNavbarBrand>
    <LumexNavbarContent>
        @if (AuthConfig.Value.Enabled)
        {
            <AuthorizeView>
                <Authorized>
                    <LumexNavbarItem>
                        <NavLink href="" Match="NavLinkMatch.All" class="text-sm font-medium hover:opacity-75">
                            Upload
                        </NavLink>
                    </LumexNavbarItem>
                    <LumexNavbarItem>
                        <NavLink href="chat" class="text-sm font-medium hover:opacity-75">
                            Chat
                        </NavLink>
                    </LumexNavbarItem>
                    <LumexNavbarItem>
                        <NavLink href="search" class="text-sm font-medium hover:opacity-75">
                            Search
                        </NavLink>
                    </LumexNavbarItem>
                    <LumexNavbarItem>
                        <NavLink href="settings" class="text-sm font-medium hover:opacity-75">
                            Settings
                        </NavLink>
                    </LumexNavbarItem>
                </Authorized>
            </AuthorizeView>
        }
        else
        {
            <LumexNavbarItem>
                <NavLink href="" Match="NavLinkMatch.All" class="text-sm font-medium hover:opacity-75">
                    Upload
                </NavLink>
            </LumexNavbarItem>
            <LumexNavbarItem>
                <NavLink href="chat" class="text-sm font-medium hover:opacity-75">
                    Chat
                </NavLink>
            </LumexNavbarItem>
            <LumexNavbarItem>
                <NavLink href="search" class="text-sm font-medium hover:opacity-75">
                    Search
                </NavLink>
            </LumexNavbarItem>
            <LumexNavbarItem>
                <NavLink href="settings" class="text-sm font-medium hover:opacity-75">
                    Settings
                </NavLink>
            </LumexNavbarItem>
        }

        @if (AuthConfig.Value.Enabled)
        {
            <AuthorizeView>
                <Authorized>
                    <LumexNavbarItem>
                        <span class="text-sm text-default-500">@(context.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value ?? context.User.Identity?.Name)</span>
                    </LumexNavbarItem>
                    <LumexNavbarItem>
                        <a href="/logout" class="text-sm font-medium hover:opacity-75">Logout</a>
                    </LumexNavbarItem>
                </Authorized>
                <NotAuthorized>
                    <LumexNavbarItem>
                        <NavLink href="login" class="text-sm font-medium hover:opacity-75">
                            Login
                        </NavLink>
                    </LumexNavbarItem>
                </NotAuthorized>
            </AuthorizeView>
        }
    </LumexNavbarContent>
</LumexNavbar>
